---
import Container from "./Container.astro";

const allPosts = await Astro.glob("../pages/posts/*.md");
function countTagPosts(tag) {
  let count = 0;
  allPosts.forEach((post) => {
    if (post.frontmatter.tags.includes(tag)) {
      count += 1;
    }
  });
  return count;
}

const { tags } = Astro.props;
const title = "Categories";
---

<Container title={title}>
  <div class="container text-center grid grid-cols-3">
    {
      tags.map((tag) => (
        <span>
          <a href={`/tags/${tag}/`}>
            {tag}({countTagPosts(tag)})
          </a>
        </span>
      ))
    }
  </div>
</Container>
