---
import { currentYear } from "../utils/helpers";

const { links } = Astro.props;
---

<footer class="text-center text-sm mt-12">
  <a href="/">GarikMe</a>
  &copy; {currentYear()}{
    links.map((link) => (
      <div class="inline">
        <a href={link.url} target="_blank">
          {link.name}
        </a>
      </div>
    ))
  }
</footer>
