---
import { formatDate } from "../utils/helpers";
import Container from "./Container.astro";

const { posts } = Astro.props;
const title = "Posts";
---

<Container title={title}>
  <div id="posts" class="container">
    {
      posts.map((post) => (
        <>
          <a href={post.url}>
            {post.frontmatter.title} •
            <time>{formatDate(post.frontmatter.pubDate)}</time>
          </a>
          <br />
        </>
      ))
    }
  </div>
</Container>
