---
---

<div class="mt-12">
  <h4 id="search_title" class="-m-3 text-center">
    <span class="px-5 bg-woodsmoke">Search</span>
  </h4>
  <div id="search" class="container">
    <input
      id="search_input"
      class="w-full bg-woodsmoke text-cadet-blue border-0 text-base outline-none"
      type="text"
      placeholder="search"
      name="name"
    />
  </div>
</div>
