---
import Container from "./Container.astro";

const title = "Search";
---

<Container title={title}>
  <div id="search" class="container">
    <input
      id="search_input"
      class="w-full bg-woodsmoke text-cadet-blue border-0 text-base outline-none"
      type="text"
      placeholder="search"
      name="name"
    />
  </div>
</Container>
