---
import "../styles/global.css";
import Logo from "../components/Logo.astro";
import Footer from "../components/Footer.astro";

const { pageTitle, showLogo = true } = Astro.props;
const imageName = "logo.svg";

const links = [
  {
    name: "github",
    url: "https://github.com/garikmi",
  },
  {
    name: "astro",
    url: "https://astro.build",
  },
  {
    name: "css",
    url: "https://tailwindcss.com",
  },
  {
    name: "theme",
    url: "https://plastictheme.com",
  },
];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="theme-color"
      content="#181A1F"
      media="(prefers-color-scheme: dark)"
    />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="theme-color" content="#ffffff" />
    <title>{pageTitle}</title>
  </head>
  <body class="bg-woodsmoke text-cadet-blue max-w-2xl mx-auto">
    {showLogo && <Logo imageName={imageName} />}

    <div class="mt-12">
      <slot />
    </div>

    <Footer links={links} />
  </body>
</html>
